## EJERCICIOS PYTHON BASICO 4: 
## Funciones, métodos, listas

## Ejercicio 1
Para este ejercicio vamos a poner en práctica [las funciones built in](https://docs.python.org/3/library/functions.html).

1. Calcula el máximo de la lista: [4, 6, 8, -1]
2. Suma todos los elementos de la lista anterior
3. Redondea este float a 3 dígitos decimales: 63.451256965
4. Valor absoluto de: -74

In [6]:
lista_numeros = [4,6,8,-1]

numero_maximo = max(lista_numeros)
print("El número máximo es ",numero_maximo)

suma_total = sum(lista_numeros)
print("La suma total es ",suma_total)

numero_float =  63.451256965

numero_redondeado = round(numero_float,3)
print("El número redondeado es ",numero_redondeado)

numero = -74

valor_absoluto = abs(numero)
print("El valor absoluto de -74 es ",valor_absoluto)

El número máximo es  8
La suma total es  17
El número redondeado es  63.451
El valor absoluto de -74 es  74

## Ejercicio 2
Para el siguiente string se pide imprimir por pantalla los siguientes casos

    "En un lugar de la Mancha, de cuyo nombre no quiero acordarme."

1. Pásalo todo a mayúsculas
2. Pásalo todo a minúsculas
3. Solo la primera letra de cada palabra en mayúscula, el resto en minúscula
4. Crea una lista dividiéndolo por sus espacios
5. Sustituye las comas `,` por puntos y comas `;`
6. Elimina las `a` minúsculas

In [17]:
don_quijote = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme."

print(don_quijote.upper())
print(don_quijote.lower())
print(don_quijote.title())
print(don_quijote.split())
print(don_quijote.replace(",",";"))
print(don_quijote.replace("a",""))

EN UN LUGAR DE LA MANCHA, DE CUYO NOMBRE NO QUIERO ACORDARME.
en un lugar de la mancha, de cuyo nombre no quiero acordarme.
En Un Lugar De La Mancha, De Cuyo Nombre No Quiero Acordarme.
['En', 'un', 'lugar', 'de', 'la', 'Mancha,', 'de', 'cuyo', 'nombre', 'no', 'quiero', 'acordarme.']
En un lugar de la Mancha; de cuyo nombre no quiero acordarme.
En un lugr de l Mnch, de cuyo nombre no quiero cordrme.

## Ejercicio 3
1. Crea una lista con 3 elementos numéricos
2. Añade un cuarto elemento
3. Calcula la suma de todos
4. Elimina el segundo elemento de la lista
5. Añade otro elemento en la posicion 3 de la lista
6. Crea otra lista con 4 elementos y concaténala a la que ya tenías.
7. Ordena la lista de menor a mayor.
8. BONUS: Ordena la lista de mayor a menor.  
(*PISTA: Para hacer 8, tendrás que buscar en la información del método...*)  
  
  
NOTA: Pinta por pantalla el resultado de cada paso.

In [29]:
lista_numeros = [5,10,15]

lista_numeros.append(20)
print("Añade un cuarto elemento ",lista_numeros)

suma_total = sum(lista_numeros)
print("La suma total es: ",suma_total)

lista_numeros.pop(2)
print("Elimina el segundo elemento de la lista ", lista_numeros)

lista_numeros.insert(3,85)
print("Añade otro elemento en la posicion 3 de la lista ", lista_numeros)

lista_peso = [35,54,66,85]
listas_concatenadas = lista_numeros + lista_peso
print("Crea otra lista con 4 elementos y concaténala a la que ya tenías. ",listas_concatenadas)

listas_concatenadas.sort()
print("Lista ordenada ",listas_concatenadas)

listas_concatenadas.sort(reverse=True)
print(listas_concatenadas)

Añade un cuarto elemento  [5, 10, 15, 20]
La suma total es:  50
Elimina el segundo elemento de la lista  [5, 10, 20]
Añade otro elemento en la posicion 3 de la lista  [5, 10, 20, 85]
Crea otra lista con 4 elementos y concaténala a la que ya tenías.  [5, 10, 20, 85, 35, 54, 66, 85]
Lista ordenada  [5, 10, 20, 35, 54, 66, 85, 85]
[85, 85, 66, 54, 35, 20, 10, 5]