# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [34]:
mask = chipo['item_price'] == chipo.loc[:,'item_price'].max()
print(chipo.loc[mask, 'item_name'])
print(chipo.loc[mask, 'item_price'])

607        Steak Salad Bowl
1418    Barbacoa Salad Bowl
1421    Barbacoa Salad Bowl
1825    Barbacoa Salad Bowl
1865    Carnitas Salad Bowl
2600       Steak Salad Bowl
2624       Steak Salad Bowl
3098       Steak Salad Bowl
3115    Carnitas Salad Bowl
3356    Barbacoa Salad Bowl
4036       Steak Salad Bowl
4241       Steak Salad Bowl
4390    Barbacoa Salad Bowl
4391       Steak Salad Bowl
4419       Steak Salad Bowl
4547       Steak Salad Bowl
4572       Steak Salad Bowl
Name: item_name, dtype: object
607     $9.39
1418    $9.39
1421    $9.39
1825    $9.39
1865    $9.39
2600    $9.39
2624    $9.39
3098    $9.39
3115    $9.39
3356    $9.39
4036    $9.39
4241    $9.39
4390    $9.39
4391    $9.39
4419    $9.39
4547    $9.39
4572    $9.39
Name: item_price, dtype: object

### Step 4. How many products cost more than $10.00?

In [67]:
mask = chipo["item_price"].str.replace("$","").astype(float) > 10

chipo.loc[mask, :]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [69]:
chipo.loc[mask,"order_id"].nunique()

863

### Step 5. What is the price of each item? Get only item_name and unit_price

In [74]:
# Crea una nueva columna llamada unit_price

chipo["unit_price"] = 10
chipo.loc[:,["unit_price","item_name"]]

      unit_price                              item_name
0             10           Chips and Fresh Tomato Salsa
1             10                                   Izze
2             10                       Nantucket Nectar
3             10  Chips and Tomatillo-Green Chili Salsa
4             10                           Chicken Bowl
...          ...                                    ...
4617          10                          Steak Burrito
4618          10                          Steak Burrito
4619          10                     Chicken Salad Bowl
4620          10                     Chicken Salad Bowl
4621          10                     Chicken Salad Bowl

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [75]:
chipo.loc[:,"item_name"]

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [79]:
chipo.loc[:,["quantity","order_id"]].max()

quantity      15
order_id    1834
dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [88]:
mask = chipo["item_name"] == "Veggie Salad Bowl"
chipo.loc[mask,"item_name"].count()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [7]:
mask = (chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)

chipo.loc[mask,"order_id"].count()

np.int64(20)

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()