# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
chipo

# hacer X.info para ver los tipos

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [9]:
chipo.loc[:, "item_price_float"] = chipo.loc[:, "item_price"].str[1:].astype(float)


"""Versión for

precios_float = []
    for index, row in chipo.iterrows():
    numero_float = row["item_price"].replace("$","").astype(float)
    precio_float.append(numero_float)

    chipo.loc[:,"item_price"_float"] = precios_float

"""

AttributeError: Can only use .str accessor with string values!

### Step 4. How many products cost more than $10.00?

In [34]:
mask = chipo.loc[:,"item_price"] > 10

len(chipo.loc[mask, :])

1130

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [35]:
chipo.loc[mask,"order_id"].nunique()

863

### Step 5. What is the price of each item? Get only item_name and unit_price

In [37]:
# Crea una nueva columna llamada unit_price

chipo.loc[:,"unit_price"] = chipo.loc[:,"item_price"]/chipo.loc[:,"quantity"]
chipo.loc[:,["unit_price","item_name"]]

     unit_price                              item_name
0          2.39           Chips and Fresh Tomato Salsa
1          3.39                                   Izze
2          3.39                       Nantucket Nectar
3          2.39  Chips and Tomatillo-Green Chili Salsa
4          8.49                           Chicken Bowl
...         ...                                    ...
4617      11.75                          Steak Burrito
4618      11.75                          Steak Burrito
4619      11.25                     Chicken Salad Bowl
4620       8.75                     Chicken Salad Bowl
4621       8.75                     Chicken Salad Bowl

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [38]:
chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [46]:
# chipo.loc[:,["quantity","order_id"]].max()

maximo = chipo.loc[:,"unit_price"].max()
mask = chipo.loc[:,"unit_price"] == maximo
chipo.loc[mask,"quantity"].sum()

np.int64(30)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [30]:
mask = chipo.loc[:,"item_name"] == "Veggie Salad Bowl"
chipo.loc[mask,"item_name"].count()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [50]:
mask = (chipo.loc[:,"item_name"] == "Canned Soda") & (chipo.loc[:,"quantity"] > 1)

chipo.loc[mask,"order_id"].count()

np.int64(20)

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()